{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}

<div class="main">
    {% if vakansi.count > 0 %}
    {% for  vakan in  vakansi %}
    <div class="card" style="width: 18rem;">
      <img src="{{vakan.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{vakan.title}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{vakan.discraption}}</li>
        <li class="list-group-item">{{vakan.time_work}}{{vakan.time_notwork}}</li>
        <li class="list-group-item">{{vakan.salary}}</li>
        <li class="list-group-item">{{vakan.cotegory}}</li>
      </ul>
      <div class="card-body">
        <a href="{% url 'detailvakansi' vakan.id %}" class="card-link">Detail</a>
        <a href="{% url 'createapplication'%}" class="card-link">Go to Application</a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock content %}